html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #161b22;
    padding: 12px;
    text-align: center;
    z-index: 1000;
}

nav a {
    color: #58a6ff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 140px 20px 80px;
    text-align: center;
}

.hero h1 {
    color: #58a6ff;
    font-size: 3rem;
}

.buttons {
    margin-top: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 5px;
    background: #238636;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.btn.outline {
    background: transparent;
    border: 1px solid #58a6ff;
    color: #58a6ff;
}

section {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

h3 {
    color: #58a6ff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.grid div,
.card,
ul li {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 15px;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 25px;
    border-top: 1px solid #30363d;
}
