body {
  background:#0d1117;
  color:#e6edf3;
  font-family:Arial, sans-serif;
  margin:0;
}

.hero {
  text-align:center;
  padding:60px;
}

.profile {
  width:150px;
  border-radius:50%;
  border:4px solid #58a6ff;
}

section {
  max-width:900px;
  margin:40px auto;
  padding:20px;
  background:#161b22;
  border-radius:8px;
}

.btn {
  background:#238636;
  padding:12px 20px;
  color:white;
  text-decoration:none;
  border-radius:6px;
}

footer {
  text-align:center;
  padding:20px;
}
